:root {
	--color-overlay-a1: 0 0% 100% / 0.05;
	--color-overlay-a2: 0 0% 100% / 0.1;
	--color-overlay-a3: 0 0% 100% / 0.15;
	--color-overlay-a4: 0 0% 100% / 0.2;
	--color-overlay-a5: 0 0% 100% / 0.3;
	--color-overlay-a6: 0 0% 100% / 0.4;
	--color-overlay-a7: 0 0% 100% / 0.5;
	--color-overlay-a8: 0 0% 100% / 0.6;
	--color-overlay-a9: 0 0% 100% / 0.7;
	--color-overlay-a10: 0 0% 100% / 0.8;
	--color-overlay-a11: 0 0% 100% / 0.9;
	--color-overlay-a12: 0 0% 100% / 0.95;

	--color-cautionary-1: 60 50% 98.431373%;
	--color-cautionary-2: 54.285714 91.304348% 95.490196%;
	--color-cautionary-3: 55.774648 100% 86.078431%;
	--color-cautionary-4: 53.271028 100% 79.019608%;
	--color-cautionary-5: 49.93007 100% 71.960784%;
	--color-cautionary-6: 47.913669 85.276074% 68.039216%;
	--color-cautionary-7: 46.08 69.832402% 64.901961%;
	--color-cautionary-8: 45 65% 52.941176%;
	--color-cautionary-9: 52.990654 100% 58.039216%;
	--color-cautionary-10: 51.764706 100% 50%;
	--color-cautionary-11: 41.012658 100% 30.980392%;
	--color-cautionary-12: 42 39.215686% 20%;

	--color-cautionary-a1: 60 100% 33.333333% / 0.023529;
	--color-cautionary-a2: 54.344262 100% 47.843137% / 0.086275;
	--color-cautionary-a3: 56 100% 50% / 0.278431;
	--color-cautionary-a4: 53.385827 100% 50.196078% / 0.419608;
	--color-cautionary-a5: 50.117647 100% 50% / 0.560784;
	--color-cautionary-a6: 48 100% 46.078431% / 0.592157;
	--color-cautionary-a7: 46 100% 41.176471% / 0.596078;
	--color-cautionary-a8: 45.074627 100% 39.411765% / 0.776471;
	--color-cautionary-a9: 52.941176 100% 50% / 0.839216;
	--color-cautionary-a10: 51.764706 100% 50% / 1;
	--color-cautionary-a11: 41.012658 100% 30.980392% / 1;
	--color-cautionary-a12: 41.73913 100% 9.019608% / 0.878431;

	--color-informative-1: 210 100% 99.215686%;
	--color-informative-2: 207.272727 100% 97.843137%;
	--color-informative-3: 205 92.307692% 94.901961%;
	--color-informative-4: 202.857143 100% 91.764706%;
	--color-informative-5: 205.57377 100% 88.039216%;
	--color-informative-6: 207 93.023256% 83.137255%;
	--color-informative-7: 206.538462 85.245902% 76.078431%;
	--color-informative-8: 205.655172 81.920904% 65.294118%;
	--color-informative-9: 206.117647 100% 50%;
	--color-informative-10: 206.553191 95.918367% 48.039216%;
	--color-informative-11: 207.979275 88.127854% 42.941176%;
	--color-informative-12: 216.144578 70.940171% 22.941176%;

	--color-informative-a1: 209.882353 100% 50% / 0.015686;
	--color-informative-a2: 207.058824 100% 50% / 0.043137;
	--color-informative-a3: 204.979592 100% 48.039216% / 0.098039;
	--color-informative-a4: 202.823529 100% 50% / 0.164706;
	--color-informative-a5: 205.411765 100% 50% / 0.239216;
	--color-informative-a6: 206.829268 100% 48.235294% / 0.32549;
	--color-informative-a7: 206.553191 100% 46.078431% / 0.443137;
	--color-informative-a8: 205.565217 100% 45.098039% / 0.631373;
	--color-informative-a9: 206.117647 100% 50% / 1;
	--color-informative-a10: 206.5 100% 47.058824% / 0.980392;
	--color-informative-a11: 207.783251 100% 39.803922% / 0.94902;
	--color-informative-a12: 216.404494 100% 17.45098% / 0.933333;

	--color-negative-1: 0 100% 99.411765%;
	--color-negative-2: 0 100% 98.431373%;
	--color-negative-3: 356.842105 90.47619% 95.882353%;
	--color-negative-4: 358.333333 100% 92.941176%;
	--color-negative-5: 358.8 100% 90.196078%;
	--color-negative-6: 359.0625 94.117647% 86.666667%;
	--color-negative-7: 359.2 77.319588% 80.980392%;
	--color-negative-8: 358.709677 69.924812% 73.921569%;
	--color-negative-9: 358.089172 75.119617% 59.019608%;
	--color-negative-10: 358.481013 69.298246% 55.294118%;
	--color-negative-11: 358.148148 64.8% 49.019608%;
	--color-negative-12: 350.649351 62.601626% 24.117647%;

	--color-negative-a1: 0 100% 50% / 0.011765;
	--color-negative-a2: 0 100% 50% / 0.031373;
	--color-negative-a3: 356.790123 100% 47.647059% / 0.078431;
	--color-negative-a4: 358.117647 100% 50% / 0.141176;
	--color-negative-a5: 358.588235 100% 50% / 0.196078;
	--color-negative-a6: 359.032258 100% 48.627451% / 0.258824;
	--color-negative-a7: 359.192825 100% 43.72549% / 0.337255;
	--color-negative-a8: 358.571429 100% 41.176471% / 0.443137;
	--color-negative-a9: 358.082192 100% 42.941176% / 0.717647;
	--color-negative-a10: 358.564593 100% 40.980392% / 0.756863;
	--color-negative-a11: 358.163265 100% 38.431373% / 0.827451;
	--color-negative-a12: 350.823529 100% 16.666667% / 0.909804;

	--color-neutral: 0 0% 100%;
	--color-neutral-1: 240 20% 99.019608%;
	--color-neutral-2: 240 20% 98.039216%;
	--color-neutral-3: 240 11.111111% 94.705882%;
	--color-neutral-4: 240 9.52381% 91.764706%;
	--color-neutral-5: 230 10.714286% 89.019608%;
	--color-neutral-6: 240 10.144928% 86.470588%;
	--color-neutral-7: 233.333333 9.89011% 82.156863%;
	--color-neutral-8: 230.769231 10.23622% 75.098039%;
	--color-neutral-9: 230.769231 5.936073% 57.058824%;
	--color-neutral-10: 226.153846 5.394191% 52.745098%;
	--color-neutral-11: 220 5.882353% 40%;
	--color-neutral-12: 210 12.5% 12.54902%;

	--color-neutral-a: 0 0% 100% / 0.95;
	--color-neutral-a1: 240 100% 16.666667% / 0.011765;
	--color-neutral-a2: 240 100% 16.666667% / 0.023529;
	--color-neutral-a3: 240 100% 10% / 0.058824;
	--color-neutral-a4: 240 100% 8.823529% / 0.090196;
	--color-neutral-a5: 229.2 100% 9.803922% / 0.121569;
	--color-neutral-a6: 240 100% 9.215686% / 0.14902;
	--color-neutral-a7: 232.173913 100% 9.019608% / 0.196078;
	--color-neutral-a8: 230 100% 9.411765% / 0.27451;
	--color-neutral-a9: 229.655172 100% 5.686275% / 0.454902;
	--color-neutral-a10: 224.444444 100% 5.294118% / 0.498039;
	--color-neutral-a11: 219 100% 3.921569% / 0.623529;
	--color-neutral-a12: 206.666667 100% 1.764706% / 0.890196;

	--color-positive-1: 140 60% 99.019608%;
	--color-positive-2: 137.142857 46.666667% 97.058824%;
	--color-positive-3: 138.75 47.058824% 93.333333%;
	--color-positive-4: 140 49.090909% 89.215686%;
	--color-positive-5: 141.666667 43.902439% 83.921569%;
	--color-positive-6: 143.75 41.37931% 77.254902%;
	--color-positive-7: 146.25 39.506173% 68.235294%;
	--color-positive-8: 150.638298 40.17094% 54.117647%;
	--color-positive-9: 151.034483 54.716981% 41.568627%;
	--color-positive-10: 151.891892 56.345178% 38.627451%;
	--color-positive-11: 153.673469 59.756098% 32.156863%;
	--color-positive-12: 155.294118 40.47619% 16.470588%;

	--color-positive-a1: 140 100% 37.647059% / 0.015686;
	--color-positive-a2: 137.300613 100% 31.960784% / 0.043137;
	--color-positive-a3: 138.658537 100% 32.156863% / 0.098039;
	--color-positive-a4: 140 100% 32.941176% / 0.160784;
	--color-positive-a5: 141.677419 98.726115% 30.784314% / 0.231373;
	--color-positive-a6: 144 100% 29.411765% / 0.321569;
	--color-positive-a7: 146.482759 100% 28.431373% / 0.443137;
	--color-positive-a8: 150.821918 100% 28.627451% / 0.643137;
	--color-positive-a9: 151.048951 100% 28.039216% / 0.811765;
	--color-positive-a10: 151.791045 100% 26.27451% / 0.831373;
	--color-positive-a11: 153.451327 100% 22.156863% / 0.870588;
	--color-positive-a12: 154.736842 100% 7.45098% / 0.901961;
}

:root.dark {
	--color-overlay-a1: 0 0% 0% / 0.05;
	--color-overlay-a2: 0 0% 0% / 0.1;
	--color-overlay-a3: 0 0% 0% / 0.15;
	--color-overlay-a4: 0 0% 0% / 0.2;
	--color-overlay-a5: 0 0% 0% / 0.3;
	--color-overlay-a6: 0 0% 0% / 0.4;
	--color-overlay-a7: 0 0% 0% / 0.5;
	--color-overlay-a8: 0 0% 0% / 0.6;
	--color-overlay-a9: 0 0% 0% / 0.7;
	--color-overlay-a10: 0 0% 0% / 0.8;
	--color-overlay-a11: 0 0% 0% / 0.9;
	--color-overlay-a12: 0 0% 0% / 0.95;

	--color-cautionary-1: 46.666667 29.032258% 6.078431%;
	--color-cautionary-2: 45 28.571429% 8.235294%;
	--color-cautionary-3: 45 80% 9.803922%;
	--color-cautionary-4: 47.777778 100% 10.588235%;
	--color-cautionary-5: 47.462687 100% 13.137255%;
	--color-cautionary-6: 48 95.238095% 16.470588%;
	--color-cautionary-7: 46.329114 63.2% 24.509804%;
	--color-cautionary-8: 44.693878 59.756098% 32.156863%;
	--color-cautionary-9: 52.990654 100% 58.039216%;
	--color-cautionary-10: 60 100% 67.058824%;
	--color-cautionary-11: 53.103448 89.690722% 61.960784%;
	--color-cautionary-12: 52.727273 78.571429% 83.529412%;

	--color-cautionary-a1: 23.253589 100% 40.980392% / 0.015686;
	--color-cautionary-a2: 43.373494 100% 48.823529% / 0.043137;
	--color-cautionary-a3: 40 100% 50% / 0.117647;
	--color-cautionary-a4: 43.399209 100% 49.607843% / 0.156863;
	--color-cautionary-a5: 44.173228 100% 49.803922% / 0.211765;
	--color-cautionary-a6: 46.299213 100% 49.803922% / 0.27451;
	--color-cautionary-a7: 46.30137 98.206278% 56.27451% / 0.360784;
	--color-cautionary-a8: 44.926108 98.067633% 59.411765% / 0.482353;
	--color-cautionary-a9: 52.990654 100% 58.039216% / 1;
	--color-cautionary-a10: 60 100% 67.058824% / 1;
	--color-cautionary-a11: 53.038674 98.907104% 64.117647% / 0.960784;
	--color-cautionary-a12: 52.941176 97.142857% 86.27451% / 0.964706;

	--color-informative-1: 214.736842 42.222222% 8.823529%;
	--color-informative-2: 218.181818 39.285714% 10.980392%;
	--color-informative-3: 212.068966 69.047619% 16.470588%;
	--color-informative-4: 208.77551 100% 19.215686%;
	--color-informative-5: 206.896552 100% 22.745098%;
	--color-informative-6: 209.243697 78.807947% 29.607843%;
	--color-informative-7: 210.952381 66.315789% 37.254902%;
	--color-informative-8: 211.006711 65.065502% 44.901961%;
	--color-informative-9: 206.117647 100% 50%;
	--color-informative-10: 209.693878 100% 61.568627%;
	--color-informative-11: 209.79021 100% 71.960784%;
	--color-informative-12: 204.590164 100% 88.039216%;

	--color-informative-a1: 220.909091 100% 47.45098% / 0.066667;
	--color-informative-a2: 218.205128 96.694215% 52.54902% / 0.094118;
	--color-informative-a3: 212 100% 50% / 0.227451;
	--color-informative-a4: 212.470588 100% 50% / 0.341176;
	--color-informative-a5: 209.407115 100% 49.607843% / 0.419608;
	--color-informative-a6: 209.243697 98.347107% 52.54902% / 0.498039;
	--color-informative-a7: 210.849057 99.065421% 58.039216% / 0.596078;
	--color-informative-a8: 210.873786 99.038462% 59.215686% / 0.72549;
	--color-informative-a9: 206.117647 100% 50% / 1;
	--color-informative-a10: 209.693878 100% 61.568627% / 1;
	--color-informative-a11: 209.79021 100% 71.960784% / 1;
	--color-informative-a12: 204.590164 100% 88.039216% / 1;

	--color-negative-1: 0 19.047619% 8.235294%;
	--color-negative-2: 355.384615 25.490196% 10%;
	--color-negative-3: 349.756098 53.246753% 15.098039%;
	--color-negative-4: 348 68.421053% 18.627451%;
	--color-negative-5: 349.6 63.02521% 23.333333%;
	--color-negative-6: 352.405063 53.020134% 29.215686%;
	--color-negative-7: 355.280899 46.596859% 37.45098%;
	--color-negative-8: 358.392857 44.8% 49.019608%;
	--color-negative-9: 358.089172 75.119617% 59.019608%;
	--color-negative-10: 359.58042 79.005525% 64.509804%;
	--color-negative-11: 1.651376 100% 78.627451%;
	--color-negative-12: 349.565217 100% 90.980392%;

	--color-negative-a1: 0 91.129032% 51.372549% / 0.035294;
	--color-negative-a2: 355.384615 88.235294% 56.666667% / 0.066667;
	--color-negative-a3: 349.655172 100% 54.509804% / 0.176471;
	--color-negative-a4: 347.95082 99.186992% 51.764706% / 0.266667;
	--color-negative-a5: 349.506726 100% 56.27451% / 0.337255;
	--color-negative-a6: 352.53886 100% 62.156863% / 0.407843;
	--color-negative-a7: 355.116279 100% 66.27451% / 0.517647;
	--color-negative-a8: 358.518519 100% 68.235294% / 0.690196;
	--color-negative-a9: 357.954545 98.876404% 65.098039% / 0.894118;
	--color-negative-a10: 359.612903 100% 69.607843% / 0.921569;
	--color-negative-a11: 1.651376 100% 78.627451% / 1;
	--color-negative-a12: 349.565217 100% 90.980392% / 1;

	--color-neutral: 0 0% 0%;
	--color-neutral-1: 240 5.555556% 7.058824%;
	--color-neutral-2: 220 5.882353% 10%;
	--color-neutral-3: 225 5.714286% 13.72549%;
	--color-neutral-4: 210 7.142857% 16.470588%;
	--color-neutral-5: 214.285714 7.070707% 19.411765%;
	--color-neutral-6: 213.333333 7.692308% 22.941176%;
	--color-neutral-7: 212.727273 7.586207% 28.431373%;
	--color-neutral-8: 212 7.692308% 38.235294%;
	--color-neutral-9: 218.571429 6.25% 43.921569%;
	--color-neutral-10: 221.538462 5.179283% 49.215686%;
	--color-neutral-11: 216 6.756757% 70.980392%;
	--color-neutral-12: 220 9.090909% 93.529412%;

	--color-neutral-a: 0 0% 0% / 0.95;
	--color-neutral-a1: 0 0% 0% / 0;
	--color-neutral-a2: 184 62.5% 90.588235% / 0.035294;
	--color-neutral-a3: 211.111111 65.853659% 91.960784% / 0.078431;
	--color-neutral-a4: 197.837838 72.54902% 90% / 0.113725;
	--color-neutral-a5: 207.567568 94.871795% 92.352941% / 0.145098;
	--color-neutral-a6: 207.692308 90.697674% 91.568627% / 0.188235;
	--color-neutral-a7: 208.421053 100% 92.54902% / 0.25098;
	--color-neutral-a8: 208.421053 100% 92.54902% / 0.364706;
	--color-neutral-a9: 216 88.235294% 93.333333% / 0.427451;
	--color-neutral-a10: 220 85.714286% 94.509804% / 0.482353;
	--color-neutral-a11: 212.307692 86.666667% 97.058824% / 0.709804;
	--color-neutral-a12: 220 100% 99.411765% / 0.937255;

	--color-positive-1: 154.285714 20% 6.862745%;
	--color-positive-2: 153.333333 20% 8.823529%;
	--color-positive-3: 152.307692 40.625% 12.54902%;
	--color-positive-4: 154.285714 55.263158% 14.901961%;
	--color-positive-5: 153.6 52.083333% 18.823529%;
	--color-positive-6: 152.727273 46.218487% 23.333333%;
	--color-positive-7: 151.875 44.444444% 28.235294%;
	--color-positive-8: 151.168831 45.02924% 33.529412%;
	--color-positive-9: 151.034483 54.716981% 41.568627%;
	--color-positive-10: 151.2 55.066079% 44.509804%;
	--color-positive-11: 150.980392 65.106383% 53.921569%;
	--color-positive-12: 144.375 69.565217% 81.960784%;

	--color-positive-a1: 138.648649 100% 43.529412% / 0.019608;
	--color-positive-a2: 153.461538 94.545455% 56.862745% / 0.043137;
	--color-positive-a3: 152.307692 100% 56.666667% / 0.117647;
	--color-positive-a4: 154.285714 100% 53.333333% / 0.176471;
	--color-positive-a5: 153.679245 100% 58.431373% / 0.235294;
	--color-positive-a6: 152.727273 100% 63.333333% / 0.294118;
	--color-positive-a7: 151.907514 97.740113% 65.294118% / 0.368627;
	--color-positive-a8: 151.22807 100% 66.470588% / 0.45098;
	--color-positive-a9: 150.802139 100% 63.333333% / 0.619608;
	--color-positive-a10: 151.122995 98.941799% 62.941176% / 0.670588;
	--color-positive-a11: 150.978261 98.924731% 63.529412% / 0.831373;
	--color-positive-a12: 144.705882 100% 86.666667% / 0.941176;
}
